<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @assignment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @assignment.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @assignment.date %>
</p>

<p>
  <strong>Due:</strong>
  <%= @assignment.due %>
</p>

<%= link_to 'Edit', edit_assigment_path(@assignment) %> |
<%= link_to 'Back', assigments_path %>
