<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @assigment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @assigment.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @assigment.date %>
</p>

<p>
  <strong>Due:</strong>
  <%= @assigment.due %>
</p>

<%= link_to 'Edit', edit_assigment_path(@assigment) %> |
<%= link_to 'Back', assigments_path %>
