<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<%= link_to 'Create new Assigment', new_assignment_path %>

<h3>Assignments List</h3>

<p>Here we render the assignments partial</p>


<%= link_to 'Edit Profile', edit_teacher_path(@teacher) %> |
